.hero {
  text-align: center;
  width: 100%;
  height: 600px;
  background: url('../images/hero.jpg');
  background-size: cover;
  color: white;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 3em;
}

.highlights {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  width: 25%;
  line-height: 1.5em;
  margin-top: 20px;
}

.feature img {
  border-radius: 50%;
}

.onboard-buttons {
  text-align: center;
}

.button {
  font-size: 1.3em;
  margin: 30px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

.fas {
  font-size: 5em;
  width: 100%;
  text-align: center;
  color: #94C6CF;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .feature {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .feature {
    width: 100%;
  }
  .hero, .layer {
    max-height: 300px;
  }
}
