* {
    font-family: 'Muli', sans-serif;
}

body.container {
  position: relative;
}

.vertical-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 50%;
    margin: auto;
}

.container * {
  text-align: center;
}

input, button {
  width: 60%;
  height: 50px;
  margin: 40px auto;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.3nem;
}

.signup-form input {
  text-align: left;
  padding-left: 10px;
}

h1 {
  font-size: 2.5em;
}

/* Fixed the problem where input and button are not having the same width */
/* https://stackoverflow.com/questions/24389298/css-submit-button-and-input-text-doesnt-have-the-same-width */
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
