.button {
  background-color: #1F7DC1;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #94C6CF;
}

.button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
