* {
  font-family: 'Muli', sans-serif;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #252525;
}

.container h1 {
  font-size: 400%;
  font-weight: 700; /* This corresponds to "Bold" */
  text-align: left;
  color: white;
  line-height: 1.45;
}

.container h2 {
  font-size: 200%;
  font-weight: 600; /* This corresponds to "Semi Bold" */
  text-align: left;
  color: white;
  line-height: 1;
}

.container label {
  color: white;
}

.vertical-middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: 50%;
  margin: auto;
}

.button {
  background-color: #1F7DC1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #94C6CF;
}

.button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*** Navigation Bar ***/
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(37, 37, 37, 0.6);
}

/* Keep all options float to the right */
ul.navbar li {
  float: right;
}
/* Exception for "Dashboard" option, which floats to left
ul.navbar li.left {
    float: left;
}
*/

ul.navbar li a, ul.navbar li.dropdown a.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover:not(.active) {background-color: #94C6CF;}

ul.navbar li a.active {
  background-color: white;
  color: #252525
}

ul.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

ul.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul.navbar .dropdown-content a:hover {background-color: #f1f1f1}

ul.navbar .dropdown:hover .dropdown-content {
  display: block;
}

/****************** Responsive yeah! *********************/
@media screen and (max-width: 600px){
  ul.navbar li.left,
  ul.navbar li.dropdown,
  ul.navbar li {float: none;}
}

/********** Below are css only for this page *********/

.reset-password-form {
  margin-top: 50px;
  width: 100%;
}

.reset-password-form .flex-container {
  justify-content: space-between;
}

.reset-password-form input, .reset-password-form .strength-indicator {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 20px;
  box-sizing: border-box;
}

.reset-password-form > div {
  margin: 30px 0;
  width: 60%;
}

/* Password strength indicator */
/* https://codepen.io/gabrieleromanato/pen/WEMLjg */

.strength-indicator {
  height: 20px;
}

.strength-danger {
  background: #d00;
}

.strength-warning {
  background: #f50;
}

.strength-success {
  background: #080;
}

.setting-buttons {
  margin: 2.5%;
  margin-left: auto;
  margin-right: 0;
}

.setting-buttons > button {
  margin-top: 20px;
  margin-bottom: 20px;
}


@media screen and (max-width: 950px) {
  .flex-container > * {
    width: 100%;
  }

  .flex-container div {
    margin: 10px 0;
  }

  .setting-buttons::before {

  }
}
