* {
    font-family: 'Muli', sans-serif;
}

body.dashboard {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

body.driver {
    background-image: url("../images/homepage_driver_bg.jpg"); 
}

body.rider {
    background-image: url("../images/rider-dashboard-bg.jpeg");
}

body.container {
    position: relative;
}

.vertical-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 50%;
    margin: auto;
}

/*
 * For dashboard when user has more info about upcoming ride.
 * Use both vertical-middle with-more-info for class.
 */
.vertical-middle.with-more-info {
    width: 80%;
    height: 70%;
}

.departure, .arrival, .need-a-ride {
    background-color: rgba(255,255,255,0.9);
}

/* This makes two divs side-by-side */
.departure, .arrival, .need-a-ride {
    float: left;
    width: 600px;
    padding: 5px;
    margin: 5px;
}
.find-another {
    float: left;
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.ride-info-left {
    float: left;
    width: 250px;
    margin: 2.5px;
}

.ride-info-right {
    float: left;
    margin: 2.5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.container h1 {
    font-size: 400%;
    font-weight: 700; /* This corresponds to "Bold" */
    text-align: left;
    color: white;
    line-height: 1.45;
}

.container h2 {
    font-size: 200%;
    font-weight: 600; /* This corresponds to "Semi Bold" */
    text-align: left;
    color: white;
    line-height: 1;
}

.dashboard-button{
    background-color: #1F7DC1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.dashboard-button:hover {
    background-color: #94C6CF;
}

.dashboard-button:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.ride-info-left .dashboard-button {
    width: 70%;
    margin: 1%;
}

.ride-info-right ul {
    list-style-type: none; 
}

.ride-info-right{
    position: relative;
    float: left;
    display: block;
    font-weight: 300;
}

/* This one refers to the section where rider has upcoming trip but only 
 * requested a ride for either departure or arrival. This is not same as 
 * find-another.
 */
a.find-a-ride {
    color: #94C6CF;
}

/* Put the "Find another" link to the bottom center */
.find-another a {
    /*position: absolute;
    bottom: 2.5%;*/
    width: 100%;
    text-align: center;
    color: #94C6CF;
}


/*** Driver Page Specific ***/
.upcoming {
    float:left; 
    width:65%;
}

.todos {
    float:left; 
    width:30%;
    background-color: rgba(255,255,255,0.6);
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
}

.checklist {
    padding: 7px 15px;
    margin: 1%;
    height: 35px; 
}

.indv-detail-button {
    margin: 1%;
    width: auto;
}

.more-links {
    /*position: absolute;
    bottom: 5%;*/
    width: 100%;
    text-align: center;
}

.more-links-content {
    color: white;
    margin-right: 1%;
    text-decoration: underline;
}

/****************** Responsive yeah! *********************/
@media screen and (max-width: 600px){
    ul.navbar li.left, 
    ul.navbar li.dropdown,
    ul.navbar li {
        float: none;
    }

   .container h1 {
        font-size: 200%;
    }

    .container h2 {
        font-size: 100%;
    }

    .vertical-middle {
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        margin: auto;
    }

    /*** Driver Page Specific ***/
    .upcoming, .todos {
        width:90%;
        float: none;
    }

    .todos {
        padding: 5%;
    }

    .more-links {
        text-align: center;
        margin: 3%;
    }

    .more-links-content {
        margin: 2%;
    }

    .dashboard-button  {
        margin-bottom: 5%;
    }


}