/*** Navigation Bar ***/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(37, 37, 37, 0.6);
}

* {
    font-family: 'Muli', sans-serif;
}

/* Keep all options float to the right */
ul.navbar li {
    float: right;
}
/* Exception for "Dashboard" option, which floats to left */
ul.navbar li.left {
    float: left;
}

ul.navbar li a, ul.navbar li.dropdown a.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {background-color: #94C6CF;}

ul.navbar li a.back-to-dashboard {
    color: #94C6CF;
    font-weight: 700;
}

ul.navbar li a.back-to-dashboard:hover {
    color: #252525;
}

ul.navbar li a.active {
    background-color: white;
    color: #252525
}

ul.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

ul.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.navbar .dropdown-content a:hover {background-color: #f1f1f1}

ul.navbar .dropdown:hover .dropdown-content {
    display: block;
}