@media screen and (max-width: 800px) {
  .names-field > input {
    width: 100% !important;
  }

  .vehicle select {
    width: 100% !important;
    margin: 20px 0 !important;
  }

  .vertical-middle {
    position: relative !important;
  }

  div {
    min-width: 180px;
  }
}
